n8n/restaurant-voice-agent.workflow.json
{
  "name": "Restaurant AI Voice Phone Ordering Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "restaurant-voice-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8f5f6d14-5bd1-4a07-939a-9ddc4d6d4a12",
      "name": "Voice Provider or Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-760, 0]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nconst transcript = payload.transcript || payload.message || payload.text || payload.call?.transcript || payload.data?.transcript || '';\nconst from = payload.from || payload.phone || payload.caller || payload.call?.from_number || 'demo-caller';\nconst callId = payload.call_id || payload.callId || payload.call?.id || `demo-${Date.now()}`;\nreturn [{ json: { rawPayload: payload, callId: String(callId), callerPhone: String(from), transcript: String(transcript).trim() } }];"
      },
      "id": "3e95b758-bb3b-4826-afaf-75f3ff69676d",
      "name": "Normalize Voice Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-520, 0]
    },
    {
      "parameters": {
        "jsCode": "const menu = [\n  { id: 'turkey_6', name: 'Turkey Breast', size: '6 inch', category: 'sub', price: 6.99, keywords: ['turkey'], upsell: 'Make it a combo with chips and a fountain drink for 3.99 more.' },\n  { id: 'turkey_12', name: 'Turkey Breast', size: 'footlong', category: 'sub', price: 11.99, keywords: ['turkey'], upsell: 'Add cookies for the group while the sandwiches are being made.' },\n  { id: 'italian_bmt_6', name: 'Italian BMT', size: '6 inch', category: 'sub', price: 7.49, keywords: ['italian', 'bmt'], upsell: 'Make it a combo with chips and a fountain drink for 3.99 more.' },\n  { id: 'italian_bmt_12', name: 'Italian BMT', size: 'footlong', category: 'sub', price: 12.99, keywords: ['italian', 'bmt'], upsell: 'Add double meat for a heartier meal.' },\n  { id: 'chicken_6', name: 'Rotisserie Chicken', size: '6 inch', category: 'sub', price: 7.99, keywords: ['chicken', 'rotisserie'], upsell: 'Make it a combo with chips and a fountain drink for 3.99 more.' },\n  { id: 'steak_6', name: 'Steak and Cheese', size: '6 inch', category: 'sub', price: 8.49, keywords: ['steak', 'cheese'], upsell: 'Add double cheese or make it a combo.' },\n  { id: 'chopped_salad', name: 'Chopped Turkey Salad', size: 'regular', category: 'salad', price: 8.99, keywords: ['salad'], upsell: 'Add bottled water for 1.99.' },\n  { id: 'chips', name: 'Chips', size: 'bag', category: 'side', price: 1.79, keywords: ['chips'], upsell: 'Add a fountain drink.' },\n  { id: 'cookie', name: 'Chocolate Chip Cookie', size: 'each', category: 'side', price: 0.99, keywords: ['cookie'], upsell: 'Add two more cookies for the table.' },\n  { id: 'drink', name: 'Fountain Drink', size: 'regular', category: 'drink', price: 2.49, keywords: ['drink', 'soda', 'coke'], upsell: 'Upgrade to a large drink.' }\n];\n\nconst text = ($json.transcript || '').toLowerCase();\nconst intent = /book|reserve|reservation|table|party of/.test(text)\n  ? 'reservation'\n  : /open|still taking|closed|hours|missed|call back/.test(text)\n    ? 'missed_call_recovery'\n    : /order|pickup|delivery|footlong|sandwich|sub|meal|salad|turkey|italian|steak|chicken/.test(text)\n      ? 'order'\n      : 'menu_help';\n\nif (intent === 'reservation') {\n  const partyMatch = text.match(/\\b(for|party of)\\s+(one|two|three|four|five|six|seven|eight|\\d+)/);\n  const timeMatch = text.match(/\\b(?:at|around)\\s+(\\d{1,2})(?::(\\d{2}))?\\s*(am|pm)?/);\n  const partyMap = { one: 1, two: 2, three: 3, four: 4, five: 5, six: 6, seven: 7, eight: 8 };\n  const partySize = partyMatch ? Number(partyMap[partyMatch[2]] || partyMatch[2]) : 2;\n  const requestedTime = timeMatch ? `${timeMatch[1]}${timeMatch[2] ? `:${timeMatch[2]}` : ':00'} ${(timeMatch[3] || 'PM').toUpperCase()}` : 'next available';\n  const reply = `I can help with that. I have a table for ${partySize} at ${requestedTime}. May I confirm the name and phone number for the reservation?`;\n  return [{ json: { callId: $json.callId, callerPhone: $json.callerPhone, transcript: $json.transcript, intent, reply, reservation: { partySize, requestedTime }, subtotal: 0, staffSummary: `Reservation lead: party of ${partySize}, requested ${requestedTime}. Agent asked for name and confirmation.` } }];\n}\n\nif (intent === 'missed_call_recovery') {\n  const reply = 'Yes, we are still taking pickup orders. I can take the order now, quote the estimated total, and send it to the staff line for confirmation.';\n  return [{ json: { callId: $json.callId, callerPhone: $json.callerPhone, transcript: $json.transcript, intent, reply, subtotal: 0, staffSummary: 'Missed-call recovery: caller asked whether orders are still open. Agent invited a pickup order.' } }];\n}\n\nif (intent === 'menu_help') {\n  const reply = 'Popular phone orders are Turkey Breast, Italian BMT, Steak and Cheese, Rotisserie Chicken, and chopped salads. I can also make any sandwich a meal with chips and a fountain drink.';\n  return [{ json: { callId: $json.callId, callerPhone: $json.callerPhone, transcript: $json.transcript, intent, reply, subtotal: 0, staffSummary: 'Menu help call: agent answered options and offered meal conversion.' } }];\n}\n\nconst wantsFootlong = /footlong|12|twelve/.test(text);\nconst quantityMatch = text.match(/\\b(two|three|four|five|six|\\d+)\\b/);\nconst quantityMap = { two: 2, three: 3, four: 4, five: 5, six: 6 };\nconst quantity = quantityMatch ? Number(quantityMap[quantityMatch[1]] || quantityMatch[1]) : 1;\nlet matches = menu.filter(item => item.keywords.some(keyword => text.includes(keyword)));\nif (wantsFootlong) {\n  matches = matches.map(item => menu.find(candidate => candidate.name === item.name && candidate.size === 'footlong') || item);\n}\nconst unique = Array.from(new Map(matches.map(item => [item.id, item])).values());\nconst items = (unique.length ? unique : [menu.find(item => item.id === 'turkey_6')]).map(item => ({ ...item, quantity }));\nconst subtotal = items.reduce((sum, item) => sum + item.price * item.quantity, 0);\nconst hasSide = items.some(item => ['side', 'drink'].includes(item.category));\nconst primary = items.find(item => item.category === 'sub' || item.category === 'salad') || items[0];\nconst upsell = hasSide ? primary.upsell : 'Would you like to make those meals with chips and fountain drinks for 3.99 each?';\nconst itemList = items.map(item => `${item.quantity} ${item.name} ${item.size} ($${item.price.toFixed(2)})`).join(', ');\nconst reply = `Got it: ${itemList} for pickup. Estimated subtotal is $${subtotal.toFixed(2)} before tax. ${upsell}`;\nreturn [{ json: { callId: $json.callId, callerPhone: $json.callerPhone, transcript: $json.transcript, intent, reply, matchedItems: items, subtotal: Number(subtotal.toFixed(2)), upsellOffered: upsell, staffSummary: `Pickup order draft: ${itemList}. Subtotal $${subtotal.toFixed(2)} before tax. Upsell offered: ${upsell}` } }];"
      },
      "id": "1e6b9636-34e4-4576-a917-089be7d74830",
      "name": "Classify Call and Build Handoff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-260, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "5dd3120b-1966-43b7-b239-34f892a79f90",
      "name": "Return Voice Agent Reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [0, 0]
    }
  ],
  "connections": {
    "Voice Provider or Test Webhook": {
      "main": [[{"node": "Normalize Voice Call", "type": "main", "index": 0}]]
    },
    "Normalize Voice Call": {
      "main": [[{"node": "Classify Call and Build Handoff", "type": "main", "index": 0}]]
    },
    "Classify Call and Build Handoff": {
      "main": [[{"node": "Return Voice Agent Reply", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "2f1f6e74-ef82-4d5d-960b-8d9f43f0a0d4",
  "updatedAt": "2026-05-06T17:30:00.000Z"
}
